
.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
}

.main{
  display: flex;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: var(--padding-container);
}

.subContainer{
  width: calc(100vw - var(--navbar-width) - (var(--padding-container)*2));
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
}

.date_pickers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.date_picker{
  color: red;
}

.metrics{
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  overflow-x: auto;
}

.filters{
  display: flex;
  gap: 2rem;
}