.navbar{
    min-width: var(--navbar-width);
    background: rgb(15, 23, 42);
    height: 100vh;
    border-right: 1px solid #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.navbar > :first-child{
    margin-top: 1.5rem;
}
  
.logo{

}

.user{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
}

.userDescription{
    max-width: var(--navbar-width);
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    overflow: hidden; 
    /* white-space: nowrap;
    text-overflow: ellipsis; */
}

.userDescription > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p.description{
    font-size: 12px;
    
}